<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHandlers</key>
	<array>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.url</string>
			<key>LSHandlerRoleViewer</key>
			<string>com.company.fakebrowser</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleViewer</key>
				<string>-</string>
			</dict>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>com.company.uti</string>
			<key>LSHandlerRoleAll</key>
			<string>com.company.fakeapp.pro</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
		</dict>
		<dict>
			<key>LSHandlerURLScheme</key>
			<string>mailto</string>
			<key>LSHandlerRoleAll</key>
			<string>com.company.fakemailer</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
		</dict>
		<dict>
			<key>LSHandlerContentType</key>
			<string>public.html</string>
			<key>LSHandlerRoleAll</key>
			<string>com.company.fakebrowser</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
		</dict>
		<dict>
			<key>LSHandlerURLScheme</key>
			<string>https</string>
			<key>LSHandlerRoleAll</key>
			<string>com.company.fakebrowser</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
		</dict>
		<dict>
			<key>LSHandlerURLScheme</key>
			<string>http</string>
			<key>LSHandlerRoleAll</key>
			<string>com.company.fakebrowser</string>
			<key>LSHandlerPreferredVersions</key>
			<dict>
				<key>LSHandlerRoleAll</key>
				<string>-</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
