[submodule "includes/bats"]
	path = includes/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "includes/bats-support"]
	path = includes/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "includes/bats-assert"]
	path = includes/bats-assert
	url = https://github.com/bats-core/bats-assert.git
